<div class="row mt-4">
  <app-basket-summary *ngIf="(basket$ | async)"
                      [items]="(basket$ | async)!.items">
  </app-basket-summary>
</div>

<div class="float-none d-flex justify-content-between flex-lg-row mb-3">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left me-1"></i>Back to Delivery
  </button>
  <button class="btn btn-primary" (click)="createPaymentIntent()">
    Go to Payment<i class="fa fa-angle-right ms-1"></i>
  </button>
</div>
